@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h1>h1 ahhahaha</h1>
<h2>My Movie List</h2>
<div class="text-center">
    <h3 class="display-4">Welcome^-^*</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core^^*</a>.</p>
</div>
<div class="text-center">
    <p>zzzzzz</p>
</div>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            dkgkgkgkgkgkgk
        </dd>
        <dt class="col-sm-2">
            ReleaseDate
        </dt>
        <dd class="col-sm-10">
            1234-1212
        </dd>
    </dl>
</div>

<h4><a asp-area="" asp-controller="HelloWorld" asp-action="Welcome">Welcome~~~</a></h4>
<p>Hello from our View Template !</p>
